# 系统文件
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# 日志、缓存
log/
__pycache__/
*.log

# 模型和大型依赖
models/
mongodb-*/
*.bin
*.pt
*.pth
*.h5

# 环境和依赖
venv/
env/
.env
*.egg-info/
.env.local

# 其他临时文件
*.tmp
# 数据
data/  
