# Model
model_name_or_path: "/root/autodl-tmp/RAG/models/AI-ModelScope/bge-reranker-v2-m3"
model_type: "bert_encoder"
num_labels: 1
query_format: "{}"
document_format: "{}"


## Pointwise Dataset
train_dataset: "/root/autodl-tmp/RAG/data/rerank_data/train.json"
train_dataset_type: "pointwise"
max_label: 2  # 跟你的label有关
min_label: 0
max_len: 4096
shuffle_rate: 0.0
train_label_key: "label"
val_dataset: "/root/autodl-tmp/RAG/data/rerank_data/dev.json"
val_dataset_type: "pointwise"
val_label_key: "label"
loss_type: "pointwise_bce"  # "pointwise_bce" or "pointwise_mse"

# Training
output_dir: "./output/bert_ex1"

## Model Saving
save_on_epoch_end: 1
num_max_checkpoints: 5

## Hyperparameters
epochs: 1
lr: 5e-5
batch_size: 8
seed: 42
warmup_proportion: 0.1  # 10% of the total training steps
stable_proportion: 0.0
gradient_accumulation_steps: 2 # Accumulate gradients over 2 steps
mixed_precision: fp16

## Logging
log_interval: 10
log_with: "tensorboard" # "wandb" or "tensorboard"



